aiohttp
cairosvg
colorsname
fastgui
future
jieba
keyboard
keyring
matplotlib
myqr
numpy
opencv-python
pandas
pillow
pip
primepy
psutil
pyautogui
pyinstaller
python-socketio
python-telegram-bot
pywin32
pywin32-ctypes
pyzbar
qrcode
requests
seaborn
setuptools
sklearn
twine
unvcode
websocket-client
wheel